<% @venue = venue %>
  <div class="card">
    <div id="carouselExampleIndicators-<%= index %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators-<%= index %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <% @venue.photos.each_with_index do |photo, idx| %>
          <button type="button" data-bs-target="#carouselExampleIndicators-<%= index %>" data-bs-slide-to="<%= idx %>" aria-label="Slide <%= idx + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @venue.photos.each_with_index do |photo, idx| %>
          <div class="carousel-item <%= "active" if idx.zero? %>">
            <%= cl_image_tag photo.key, alt: @venue.name, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= index %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= index %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
