<div class="main-page">
  <div class="banner">
    <%= video_tag('meet_vid.mp4', class: "width=100%", autoplay: :autoplay, loop: :loop, muted: :muted ) %>
  </div>
  <div class="home-greeting text-center my-4">
    <h1 class="special-title">MEETSPACE</h1>
   <h3 class="home-heading">
  Network
  <%= image_tag("logo.png", class: "logo-small") %>
  Meet
  <%= image_tag("logo.png", class: "logo-small") %>
  Spaces
</h3>


  </div>
  <div class="container-fluid">


  <div class="category-cards-container row my-4">
    <div class="category-card-item position-relative col-md-6">
      <%= link_to category_venues_path('network') do %>
        <%= image_tag("4.jpg", width: 300, height: 300, crop: :fill) %>
          <div class="overlay">
      <p class="description">Networking venues is great for meeting new people and making connections.</p>
    </div>
      <p class="label">Network</p>
  <% end %>
</div>

    <div class="category-card-item position-relative col-md-6">
      <%= link_to category_venues_path('meet') do %>
        <%= image_tag("1.jpg", width: 300, height: 300, crop: :fill) %>
          <div class="overlay">
      <p class="description">Meeting venues is perfect for productive discussions and collaborative sessions..</p>
    </div>
      <p class="label">Meet</p>
  <% end %>
</div>

  <div class="category-card-item position-relative">
  <%= link_to category_venues_path('celebrate') do %>
    <%= image_tag("2.jpg", width: 300, height: 300, crop: :fill) %>
    <div class="overlay">
      <p class="description">Celebration venues is ideal for memorable events and joyful gatherings.</p>
    </div>
      <p class="label">Celebrate</p>
  <% end %>
</div>

  <div class="main-description text-center my-4">
    <h3 id="main-description-text"></h3>
    <h3>Looking for a venue for your next networking meeting or event? Meetspace can help connect you with the perfect venue to fit your needs. Whether for a group of 3 or 300, our carefully selected venue hosts will tailor your networking experiences to your needs.</h3>
  </div>

<div class="category-cards-container my-4">
  <%# <div class="row justify-content-center"> %>
    <div class="col-md-6 col-lg-4 mb-4 d-flex justify-content-center mx-5">
      <div class="user-card d-flex">


        <%= image_tag("james_avatar.jpg", class: "user-card-img", width: 150, height: 150) %>
          <div class="user-card-body">
            <h5 class="user-card-title"><strong>For Venue Owners</strong></h5>
            <p class="user-card-text">Advertise your venue and reach more customers by offering your space for networking events, meetings, and celebrations. Join Meetspace to showcase your venue and attract renters.</p>
            <%= link_to 'List Your Venue', new_venue_path, class: 'btn btn-primary' %>
          </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-4 mb-4 d-flex justify-content-center mx-5">
      <div class="user-card d-flex">
        <%= image_tag('t.jpg', class: "user-card-img", width: 150, height: 150) %>
          <div class="user-card-body">
            <h5 class="user-card-title"><strong>For Event Planners</strong></h5>
             <p class="user-card-text">Find the perfect venue for your next event. Whether it's a small meeting or a large celebration, Meetspace connects you with venue owners offering the perfect space for your needs.</p>
            <%= link_to 'Find a Venue', venues_path, class: 'btn btn-primary' %>
          </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
