<div class="main-page">

  <div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide my-carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag('1.jpg', alt: "..") %>
        </div>
        <div class="carousel-item">
          <%= image_tag('2.jpg', alt: "...") %>
        </div>
        <div class="carousel-item">
          <%= image_tag('3.jpg', alt: "...") %>
        </div>
      </div>
    </div>
  </div>

  <div class="greeting text-center my-4">
    <h1>MEETSPACE</h1>
    <h3>Network x Meet x Spaces</h3>
  </div>

  <div class="cards-container">
    <div class="card-item">
      <%= image_tag("4.jpg", width: 300, height: 300, crop: :fill) %>
      <div class="card-text">
        <%= link_to 'Network', venues_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card-item">
      <%= image_tag("1.jpg", width: 300, height: 300, crop: :fill) %>
      <div class="card-text">
        <%= link_to 'Meet', venues_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card-item">
      <%= image_tag("2.jpg", width: 300, height: 300, crop: :fill) %>
      <div class="card-text">
        <%= link_to 'Celebrate', venues_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="description text-center my-4">
    <h3>Looking for a venue for your next networking meeting or event? Meetspace can help connect you with the perfect venue to fit your needs. Whether for a group of 3 or 300, our carefully selected venue hosts will tailor your networking experiences to your needs.</h3>
  </div>

  <div class="cards-container d-flex justify-content-around my-4">
    <div class="card-item card owner">
      <%= image_tag("james_avatar.jpg", class: "card-img-top", crop: :fill) %>
      <div class="card-body">
        <h5 class="card-title">For Venue Owners</h5>
        <p class="card-text">Advertise your venue and reach more customers by offering your space for networking events, meetings, and celebrations. Join Meetspace to showcase your venue and attract renters.</p>
        <%= link_to 'List Your Venue', new_venue_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card-item card owner">
      <%= image_tag('t.jpg', class: "card-img-top", crop: :fill) %>
      <div class="card-body">
        <h5 class="card-title">For Event Planners</h5>
        <p class="card-text">Find the perfect venue for your next event. Whether it's a small meeting or a large celebration, Meetspace connects you with venue owners offering the perfect space for your needs.</p>
        <%= link_to 'Find a Venue', venues_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
