<div class="main-container">

  <div class="profile-side-container">
    <div class="user-details border-bottom">
      <h2><%= @current_user.username %></h2>
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar" %>
      <% else %>
        <%= image_tag "logo.png", class: "avatar" %>
      <% end %>
      <p><strong>Email:</strong> <%= @current_user.email %></p>
      <p><strong>First Name:</strong> <%= @current_user.first_name %></p>
      <p><strong>Last Name:</strong> <%= @current_user.last_name %></p>
    </div>
    <div class="profile-actions">
      <div><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-info" %></div>
      <div ><%= link_to "Add a venue", new_venue_path, class: "btn btn-info" %> </div>
      <div class="chat-link py-25">
        <%= link_to "Messages", chatrooms_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>

  <div class="cards-profile-container">
    <div class="class title-index">
      <h1>My Venues</h1>
    </div>
    <% @venues.each_with_index do |venue, index| %>
      <div class="card-border">
          <div class="card-index">
            <h2><%= venue.name %></h2>
            <p><strong <%= venue.category %>></strong></p>
            <p class= "address"><%= venue.address %></p>
            <p><strong><%= venue.facilities %></strong></p>
            <p><strong>Capacity:</strong> <%= venue.capacity %></p>
            <div><%= link_to "view this venue", venue_path(venue) %></div>
            <% if venue.photos.attached? %>
              <%= render 'shared/carousel', venue: venue, index: index %>
            <% else %>
              <p>No images available for this venue.</p>
            <% end %>
          </div>
        <div class="venue-actions">
          <div>
          <%= link_to "View Details", venue_path(venue), class: "btn btn-primary btn-block" %>
          <%= link_to "Edit", edit_venue_path(venue), class: "btn btn-primary btn-block" %>
          </div>
            <%= button_to "Delete", profile_path(current_user), class: "item", method: :delete, data: { turbo_confirm: 'Are you sure you mean to delete this venue?'}, class: 'btn btn-danger' %>
        </div>
      </div>
      <% end %>
    </div>


  <div class="profile-middle-container ">
    <div class="title-index">
      <h2>My Bookings</h2>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <% @current_bookings.each_with_index do | booking, index | %>
          <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingC<%= index %>">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseC<%= index %>" aria-expanded="true" aria-controls="panelsStayOpen-collapseC<%= index %>">
                <%= booking.venue.name %>  <%=booking.booking_date.strftime("%B %d, %Y") %>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseC<%= index %>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingC<%= index %>">
              <div class="accordion-body">
                <p><strong>Venue Name:</strong> <%= booking.venue.name %></p>
                <p><strong>Venue Owner:</strong> <%= booking.venue.user.email %></p>
                <p><strong>On:</strong> <%= booking.booking_date.strftime("%B %d, %Y") %></p>
                <p><strong>From:</strong> <%= booking.start_time %></p>
                <p><strong>Till:</strong> <%= booking.end_time %></p>
                <p><strong>Message:</strong> <%= booking.comment %></p>
                <% if current_user == booking.user %>
                  <% other_user = booking.venue.user.username %>
                <% else %>
                  <% other_user = booking.user.username %>
                <% end %>
                  <li class="list-group-item">
                  <%= link_to "Chat with #{other_user}", chatroom_path(booking.chatroom) %>
                <% if booking.confirmed %>
                  <h6 class="approved"><strong>Your booking has been confirmed.</strong></h6>
                <% else %>
                  <h6 class="pending"><strong>Still awaiting confirmation!</strong></h6>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="title-index">
      <h2>Booking History</h2>
      <% if @past_bookings.empty?  %>
        <h6>You have no booking history</h6>
      <% else %>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <% @past_bookings.each_with_index do | booking, index | %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-B<%= index %>">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseB<%= index %>" aria-expanded="true" aria-controls="panelsStayOpen-collapseB<%= index %>">
              <%= booking.venue.name %>  <%=booking.booking_date.strftime("%B %d, %Y") %>
              </button>
            </h2>
              <div id="panelsStayOpen-collapseB<%= index %>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-B<%= index %>">
                <div class="accordion-body">
                  <p><strong>Venue Name:</strong> <%= booking.venue.name %></p>
                  <p><strong>Venue Owner:</strong> <%= booking.venue.user.email %></p>
                  <p><strong>From:</strong> <%= booking.booking_date.strftime("%B %d, %Y") %></p>
                  <p><strong>Message:</strong> <%= booking.comment %></p>
                  <p><strong>Confirmed:</strong> <%= booking.confirmed %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



<div class="profile-right-container">
  <div class="title-index">
    <h2>Requests</h2>
    <ul class="list-group">
      <% @current_requests.each do |request| %>
        <li class="list-group-item">
          <p>Venue:- <strong><%= request.venue.name %></strong></p>
          <p>Request from:- <strong><%= request.user.username %></strong></p>
          <p>Email:- <strong><%= request.user.email %></strong></p>
          <p><strong>On:- </strong> <%= request.booking_date.strftime("%B %d, %Y") %></p>
          <p><strong>From:- </strong> <%= request.start_time %></p>
          <p><strong>Till:-   </strong> <%= request.end_time %></p>
          <p><strong>Initial message:-</strong> <%= request.comment %></p>
          <% if current_user == request.user %>
          <% other_user = request.venue.user.username %>
        <% else %>
          <% other_user = request.user.username %>
        <% end %>

       <div class="button-center">

        <%= button_to "Chat with #{other_user}", chatroom_path(request.chatroom), method: :get, class: 'btn btn-primary' %>
        <% if request.venue.user == current_user && !request.confirmed %>
          <%= link_to 'Pending', confirm_booking_path(request), data: { 'turbo-method': :patch }, class: 'btn btn-warning' %>
        <% elsif request.confirmed %>
          <%= button_tag 'Confirmed', class: 'btn btn-success', disabled: true %>
        <% end %>
    <% end %>
    </div></li>
  </ul>
  </div>


  <div class="title-index">
    <h2>Request history</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <% @past_requests.each_with_index do | request, index | %>
        <div class="accordion-item">
           <h2 class="accordion-header" id="panelsStayOpen-headingC<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseC<%= index %>" aria-expanded="true" aria-controls="panelsStayOpen-collapseC<%= index %>">
              <%= request.venue.name %>  <%=request.booking_date.strftime("%B %d, %Y") %>
            </button>
          </h2>
         <div id="panelsStayOpen-collapseC<%= index %>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingC<%= index %>">
            <div class="accordion-body">
              <p><strong>Venue Name:</strong> <%= request.venue.name %></p>
              <p><strong>Venue Owner:</strong> <%= request.venue.user.email %></p>
              <p><strong>Request from:</strong> <%= request.user.email %></p>
              <p><strong>On:</strong> <%= request.booking_date.strftime("%B %d, %Y") %></p>
              <p><strong>Message:</strong> <%= request.comment %></p>
              <% if request.confirmed %>
                <h6 class="approved"><strong>Your request has been confirmed.</strong></h6>
              <% else %>
                <h6 class="pending"><strong>Still awaiting confirmation!</strong></h6>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
</div>
