<div class="main-container">
  <div class="cards-index-container">
   <div class="title-index mb-2">
      <h1>All Our Venues</h1>
      <%= render "shared/search" %>
   </div>
          <% @venues.each_with_index do |venue, index| %>
            <div class="card-index">
              <h2><%= venue.name %></h2>
              <p><strong <%= venue.category %>></strong></p>
              <p class= "address"><%= venue.address %></p>
              <p><strong><%= venue.facilities %></strong></p>
              <p><strong>Capacity:</strong> <%= venue.capacity %></p>
              <div><%= link_to "view this venue", venue_path(venue) %></div>
              <% if venue.photos.attached? %>
                <%= render 'shared/carousel', venue: venue, index: index %>
              <% else %>
                <p>No images available for this venue.</p>
              <% end %>
            </div>
          <% end %>
        </div>


      <div id="map"
       data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
