<div class="container">
<div class="show-container">
  <div class="venue-banner">
     <% if @venue.photos.attached? && @venue.photos[0].present? %>
       <%= cl_image_tag @venue.photos[0].key, alt: @venue.name, class: "venue-img" %>
     <% end %>
  </div>
  <div class="venue-photos">
    <% if @venue.photos.attached? && @venue.photos[0].present? %>
      <% @venue.photos.each_with_index do |photo, index| %>
        <% next if index.zero? || photo.nil? || index > 4 %>
        <%= cl_image_tag photo.key, alt: @venue.name, class: "venue-img" %>
      <% end %>
    <% end %>
  </div>
  <div class="venue-details">
    <div class="description-and-booking-container">
      <div class="venue-description-container">
        <div class="venue-description">
          <h2>VENUE DESCRIPTION:</h2>
          <p><strong>Name:</strong> <%= @venue.name %></p>
          <p><strong>Hire Details:</strong> Venue hire for network</p>
          <p><strong>Max capacity:</strong> <%= @venue.capacity %>pp</p>
          <p><strong>Location:</strong> <%= @venue.address %></p>
          <p><strong>Description:</strong> <%= @venue.description %></p>
        </div>
      </div>
    </div>
      <%# render "reviews/new" %>
      <div class="booking-form-container">
        <div class="booking-form">
          <h2>Book this Venue</h2>

          <%= simple_form_for [@venue, @booking], data: { controller: 'flatpickr' } do |f| %>
            <%= f.input :booking_date, as: :string, input_html: { data: { flatpickr_target: "bookingDate" } } %>
            <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
            <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
            <%= f.input :comment, placeholder: "Please type a message to the venue host." %>

            <%= f.submit "Reserve", class: "btn btn-primary" %>
          <% end %>

      </div>
    </div>
  </div>
</div>
</div>
