<div class="container">
  <div class="venue-banner">
     <% if @venue.photos.attached? && @venue.photos[0].present? %>
       <%= cl_image_tag @venue.photos[0].key, alt: @venue.name, class: "venue-img" %>
     <% end %>
  <div class="venue-photos">
    <% if @venue.photos.attached? && @venue.photos[0].present? %> <!-- Check if photos are attached and present -->
      <% @venue.photos.each_with_index do |photo, index| %> <!-- Iterate over each photo -->
        <% next if index.zero? || photo.nil? %> <!-- Skip the first photo and any nil photos -->
        <%= cl_image_tag photo.key, alt: @venue.name, class: "venue-img" %> <!-- Display the photo -->
      <% end %>
    <% end %>
  </div>
  <div class="venue-details">
    <div class="description-and-booking-container"> <!-- New parent div -->
      <div class="venue-description-container"> <!-- New div for venue description -->
        <div class="venue-description">
          <h2>VENUE DESCRIPTION:</h2>
          <p><strong>Name:</strong> <%= @venue.name %></p>
          <p><strong>Hire Details:</strong> Venue hire for network</p>
          <p><strong>Max capacity:</strong> <%= @venue.capacity %>pp</p>
          <p><strong>Location:</strong> <%= @venue.address %></p>
        </div>
      </div>
      <div class="booking-form-container"> <!-- New div for booking form -->
        <div class="booking-form">
          <h2>Book this Venue</h2>
            <% form_with(model: [@venue, @booking], local: true) do |form| %>
              <div class="field">
                <%= form.label :start_date, "Start Date" %>
                <%= form.date_select :start_date %>
              </div>

            <div class="field">
              <%= form.label :end_date, "End Date" %>
              <%= form.date_select :end_date %>
            </div>

            <div class="actions">
              <%= form.submit "Reserve", class: 'btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="map-calendar">
      <div class="calendar">
        <!-- Include calendar component here -->
      </div>
    </div>
  </div>
</div>
<div><%= link_to "Book this venue", new_venue_booking_path(@venue), class: "btn" %></div>
