<h2 style="text-align: center;">venue Details</h2>
<div class="venue-details">
  <h3><%= @venue.name %></h3>
  <p><%= @venue.capacity %> people</p>
  <p><%= @venue.category %></p>
  <p><%= @venue.facilities %></p>
  <p><%= @venue.address %></p>
</div>
