<h2 style="text-align: center;">venue Details</h2>
<div class="venue-details">
  <h3><%= @venue.name %></h3>
  <p><%= @venue.capacity %> people</p>
  <p><%= @venue.category %></p>
  <p><%= @venue.facilities %></p>
  <p><%= @venue.address %></p>
  <div>
    <% if @venue.photos.attached? && @venue.photos[0].present? %>
       <%= cl_image_tag @venue.photos[0].key, alt: @venue.name, class: "venue-img" %>
    <% end %>
  </div>
</div>
<#% Jake was here %>
