<div class="container">
  <div class="venue-banner">
    <%= image_tag "1.png", class: "banner-image" %>
  </div>

  <div class="venue-photos">
    <%= image_tag "2.png", class: "photo-image" %>
    <%= image_tag "3.png", class: "photo-image" %>
  </div>

  <div class="venue-details">
    <div class="description-and-booking-container"> <!-- New parent div -->
      <div class="venue-description-container"> <!-- New div for venue description -->
        <div class="venue-description">
          <h2>VENUE DESCRIPTION:</h2>
          <p><strong>Name:</strong> <%= @venue.name %></p>
          <p><strong>Hire Details:</strong> Venue hire for network</p>
          <p><strong>Max capacity:</strong> <%= @venue.capacity %>pp</p>
          <p><strong>Location:</strong> <%= @venue.address %></p>
        </div>
      </div>

      <div class="booking-form-container"> <!-- New div for booking form -->
        <div class="booking-form">
          <h2>Book this Venue</h2>

          <%= form_with(model: [@venue, @booking], local: true) do |form| %>
            <div class="field">
              <%= form.label :start_date, "Start Date" %>
              <%= form.date_select :start_date %>
            </div>

            <div class="field">
              <%= form.label :end_date, "End Date" %>
              <%= form.date_select :end_date %>
            </div>

            <div class="actions">
              <%= form.submit "Reserve", class: 'btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    
    <div class="map-calendar">
      <div class="calendar">
        <!-- Include calendar component here -->
      </div>
    </div>
  </div>
</div>
